/*!Don't remove this!
 * duDialog plugin styles
 * 
 * Author: Dionlee Uy
 * Email: dionleeuy@gmail.com
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$dlgOverlay: rgba(0,0,0,0.35);
$dlgBg: #ffffff;
$hoverBg: #f5f5f5;
$activeBg: #e0e0e0;
$selectedColor: #1e88e5;
$checkColor: #ffffff;
$actionColor: #3f51b5;

$dlgBgDark: rgb(29,29,29);
$hoverBgDark: rgba(255, 255, 255, 0.06);
$activeBgDark: rgba(255, 255, 255, 0.1);
$headerBgDark: #121212;
$contentColorDark: rgba(255, 255, 255, 0.75);
$actionColorDark: #2196f3;

$shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
$borderRadius: 4px; // dialog & action

.du-dialog {
	font-family: Roboto, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	user-select: none;
	background-color: transparent;
	transition: background-color .2s linear, opacity .2s ease;
	will-change: background-color, visibility, opacity;
	overflow: hidden;
	z-index: 999999;
	
	.dlg-wrapper {
		position: relative;
		min-width: 280px;
		max-width: 90%;
		max-height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: $dlgBg;
		outline: none;
		border-radius: $borderRadius;
		transform: scale(.8);
		transition: transform .18s cubic-bezier(.4,0,.2,1);
		box-shadow: $shadow;
		overflow: hidden;

		.dlg-loader {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 4px;
			pointer-events: none;
			transform-origin: top;
			transform: scaleY(0);
			transition: transform .2s linear;

			.loader-wrapper {
				position: relative;
				display: flex;
				height: 100%;

				.loading-buffer {
					height: 100%;
					width: 100%;
					background-color: rgba($color: $selectedColor, $alpha: 0.4);
				}

				.loading-indicator {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 46.67%;
					transform: translateX(-100%);
					background-color: $selectedColor;
				}
			}
		}
	}
	
	.dlg-header {
		padding: 16px 24px 8px;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0.02em;
		line-height: 32px;
		
		.dlg-search {
			display: block;
			font-family: inherit;
			font-size: 16px;
			font-weight: normal;
			line-height: 36px;
			height: 36px;
			margin-top: 8px;
			width: 100%;
			border: none;
			outline: none;
			color: inherit;
			background-color: transparent;
		}
	}
	
	.dlg-content {
		flex: 1 auto;
		padding: 0 24px 20px 24px;
		color: #757575;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.03em;
		border-top: 1px solid transparent;
		overflow-x: hidden;
		overflow-y: auto;
		
		&.content--scrolled { border-top: 1px solid #e0e0e0; }
	}
	
	.dlg-select-item {
		position: relative;
		margin: 0 -24px;
		padding: 0 24px;
		cursor: pointer;
		transition: background-color .2s linear;

		&.select--group {
			pointer-events: none;
			line-height: 36px;
			margin-top: 8px;
			font-weight: 500;
		}

		&:not(.select-group):hover { background-color: $hoverBg; }

		&:not(.select-group):active { background-color: $activeBg; }

		.dlg-select-radio,
		.dlg-select-checkbox {
			position: absolute;
			top: 12px;
			height: 18px;
			width: 18px;
			opacity: 0;
		}

		.dlg-select-lbl {
			position: relative;
			display: inline-block;
			padding-left: 40px;
			margin: 0;
			cursor: pointer;
			
			.select-item {
				display: block;
				line-height: 48px;
			}
		}
		
		.dlg-select-checkbox {
			&  + .dlg-select-lbl::before {
				content: '';
				display: block;
				position: absolute;
				width: 16px;
				height: 16px;
				top: 50%;
				left: 6px;
				cursor: pointer;
				border: 2px solid #757575;
				transform: translateY(-50%);
				border-radius: 2px;
				box-sizing: content-box;
				transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);
				will-change: border-color;
			}

			&:checked + .dlg-select-lbl::before {
				background-color: $selectedColor;
				border-color: $selectedColor;
			}

			& + .dlg-select-lbl::after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 9px;
				width: 12px;
				height: 6px;
				margin-top: -6px;
				cursor: pointer;
				border-left: 2px solid $checkColor;
				border-bottom: 2px solid $checkColor;
				box-sizing: content-box;
				transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);
				transform: rotate(-45deg) scale(0);
				will-change: transform;
			}
			
			&:checked + .dlg-select-lbl::after {
				transform: rotate(-45deg) scale(1);
			}
		}

		&.item--nomatch { display: none; }

		&.item--disabled {
			cursor: default;

			.dlg-select-lbl,
			.dlg-select-lbl::before,
			.dlg-select-lbl::after { cursor: default; }
		}

		.dlg-select-radio {
			& + .dlg-select-lbl::before {
				content: "";
				display: block;
				position: absolute;
				height: 16px;
				width: 16px;
				top: 50%;
				left: 6px;
				cursor: pointer;
				border: 2px solid #757575;
				transform: translateY(-50%);
				border-radius: 50%;
				box-sizing: content-box;
				transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);
				will-change: border-color;
			}
			
			&:checked + .dlg-select-lbl::before { border-color: $selectedColor; }

			& + .dlg-select-lbl::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 11px;
				width: 10px;
				height: 10px;
				margin-top: -5px;
				cursor: pointer;
				background-color: $selectedColor;
				border-radius: 50%;
				box-sizing: content-box;
				transform: scale(0);
				transform-origin: center;
				transition: transform .28s cubic-bezier(.4,0,.2,1);
				will-change: transform, background-color;
			}
			
			&:checked + .dlg-select-lbl::after { transform: scale(1); }
		}
	}

	.dlg-actions {
		padding: 8px;
		text-align: right;

		.opt-out-grp {
			position: relative;
			display: flex;
			margin: 0 16px 12px;
			color: #757575;

			label {
				display: flex;
				height: 20px;
				padding-left: 16px;
				margin: 0;
				align-items: center;
			}

			input[type="checkbox"] {
				height: 18px;
				width: 18px;
				opacity: 0;
				margin: 0;

				&  + label::before {
					content: '';
					display: block;
					position: absolute;
					width: 16px;
					height: 16px;
					top: 50%;
					left: 6px;
					cursor: pointer;
					border: 2px solid #757575;
					transform: translateY(-50%);
					border-radius: 2px;
					box-sizing: content-box;
					transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);
					will-change: border-color;
				}
	
				&:checked + label::before {
					background-color: $selectedColor;
					border-color: $selectedColor;
				}
	
				& + label::after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 9px;
					width: 12px;
					height: 6px;
					margin-top: -6px;
					cursor: pointer;
					border-left: 2px solid $checkColor;
					border-bottom: 2px solid $checkColor;
					box-sizing: content-box;
					transition: all .2s cubic-bezier(0.0, 0.0, 0.2, 1);
					transform: rotate(-45deg) scale(0);
					will-change: transform;
				}
				
				&:checked + label::after {
					transform: rotate(-45deg) scale(1);
				}
			}
		}
	}
	
	.dlg-action {
		font-family: inherit;
		font-size: 14px;
		border: none;
		cursor: pointer;
		padding: 0 12px;
		min-width: 72px;
		line-height: 36px;
		letter-spacing: 0.07em;
		font-weight: 500;
		color: $actionColor;
		text-transform: uppercase;
		background-color: transparent;
		border-radius: $borderRadius;
		outline: none;
		transition: background-color .28s linear;
		will-change: background-color;

		&:not(:disabled):focus,
		&:not(:disabled):hover { background-color: $hoverBg; }

		&:not(:disabled):active { background-color: $activeBg; }

		&:disabled {
			cursor: default;
			opacity: 0.5;
		}

		& + .dlg-action { margin-left: 8px; }
	}
	
	&.dlg--open {
		background-color: $dlgOverlay;
		visibility: visible;
		opacity: 1;
		
		.dlg-wrapper { transform: scale(1); }
	}
	
	&.dlg--closing {
		opacity: 0;
		background-color: transparent;
	}
	
	&.dlg--pulse { animation: dlgPulse 200ms; }

	&.dlg--no-title {
		.dlg-content { margin-top: 20px; }
	}

	&[dark="true"] {
		.dlg-wrapper {
			background-color: $dlgBgDark;
		}

		.dlg-header,
		.dlg-content {
			color: $contentColorDark;
		}

		&[selection="true"] .dlg-header {
			background-color: $headerBgDark;
		}

		.dlg-content.content--scrolled {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
		}

		.opt-out-grp {
			color: $contentColorDark;
		}

		.dlg-action {
			color: $actionColorDark;
		}

		.dlg-action:not(:disabled):focus,
		.dlg-action:not(:disabled):hover,
		.dlg-select-item:hover {
			background-color: $hoverBgDark;
		}

		.dlg-action:not(:disabled):active,
		.dlg-select-item:active {
			background-color: $activeBgDark;
		}
	}

	&.dlg--loading {
		.dlg-wrapper {
			.dlg-loader {
				transform: scaleY(1);

				.loader-wrapper {
					.loading-indicator {
						animation: dlgLoading 1.45s infinite linear;
					}
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.du-dialog .dlg-wrapper { max-width: 560px; }	
}

@keyframes dlgPulse {
	from { transform: scale(1); }
	50% { transform: scale(1.05); }
	to { transform: scale(1); }
}
@keyframes dlgLoading {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(25%);
	}
	100% {
		transform: translateX(225%);
	}
}